# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/

# Environment
.env
*.env



# Node
node_modules/
frontend/build/
.vercel/

# Playwright
/ms-playwright/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
